button, .main-button, .standard-button {
  color: white;
  background-color: #262626;
  cursor: pointer;
  padding: 7px 40px;
  margin-bottom: 20px;
  border-radius: 2px;
  font-size: 18px;
  outline: none;
  display: inline-block;
  border: none;
  transition: background-color 0.3s;
  &:hover {
    background-color: darken(#1db954, 10%);
    color: white;
  }
}

Link, .edit-button {
  color: white;
  background-color: #262626;
  cursor: pointer;
  padding: 7px 40px;
  margin: 0px 10px 0px 0px;
  border-radius: 2px;
  font-size: 18px;
  outline: none;
  display: inline-block;
  border: none;
  transition: background-color 0.3s;
  &:hover {
    background-color: darken(#1db954, 10%);
    color: white;
  }
}
