button, .main-button, .standard-button {
  margin-bottom: 20px;
  padding: 5px 10px;
  color: #fff;
  border-radius: 2px;
  font-weight: 600;
  font-size: 18px;
  outline: none;
  display: inline-block;
}
